@import url("/src/components/LanguageBtn/Language.css");


  .select-language {
    font-size: 14px;
    padding: 0.1em;

    color: var(--white);
    background-color: rgb(31, 36, 41);
    font-family: var(--font);
    font-weight: 200;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
  }

  .select-language:hover, .select-language:focus {
    border-color: var(--blue); 
  }