
  .select-language {
    font-size: 14px;
    padding: 0.2em;
    color: var(--white);
    background-color: rgb(31, 36, 41);
    font-family: var(--font);
    font-weight: 200;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
  }

  .select-language:hover, .select-language:focus {
    border-color: var(--blue); 
  }