.info{
    background-color: var(--DivThree);
    padding: 2em;
    margin: 10em 0 0 ;
}

.info h1{
    text-align: start;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

