@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700&display=swap');

html {
	scroll-behavior: smooth;
  }

  body{
	background-color: #F1F0F6;
  }
  
:root{
    --DivOn: #222831;
    --CardOn: #393E4A;
	--footer: #2C2C2C;
	--nav: #313A46;
    --red: #C53C3C;
    --yellow: #FFFF00;
	--CardProj: #333C47;
    --green: #59B820;
    --orange: #FB7C36;
    --CardTwo: #282A36;
    --pink: #FF79C6;
	--blueT: #3893A4;
    --blueHome: #4ED7F7;
	--blueC: #1f5660;
	--font: Poppins, sans-serif;
    --white: #FFFF;
    --DivThree: #1F1F1F;
    --blue: #3CA1FF;
}



* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: var(--font);
}