@import url("/src/resp/response.css");

.section-history {
  padding: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h-history {
  margin-bottom: 2em;
}
.p-history {
  margin: 0;
  max-width: 70%; 
  font-size: 17px;
}