.section-history{

    display: flex;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;
}

.h-history{
    color: black;
    font-family: var(--font);
    font-size: 25px;
    display: inline;
    border-bottom: 3px solid #0f2853;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.div_h{
    margin: 5em 0 0 12em ;
}