@import url("/src/resp/response.css");

.skills{
    width: 25%;
    border-radius: 18px;
    background-color: #333C4A;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1;
    
}

.h3{
    font-size: 17px;
}

.div_t{
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    
}
.h_skills{
    color: rgb(255, 255, 255);
}

.skills ul li{
    margin: 20px 0;
}


.skills .b{
    background-color: rgb(255, 255, 255);
    display: block;
    height: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.b > span{
    height: 20px;
    background-color: #348A9E;
    position: absolute;
}

.react{
    width: 30%;
    animation: react 3s;
}

.js{
    width: 55%;
    animation: js 3s;
}

.node{
    width: 50%;
    animation: node 3s;
}

.db{
    width: 55%;
    animation: db 3s;
}


@keyframes react {
    0%{
        width: 0;
    }100%{
        width: 30%;
    }
}

@keyframes js {
    0%{
        width: 0;
    }100%{
        width: 55%;
    }
}
@keyframes node {
    0%{
        width: 0;
    }100%{
        width: 50%;
    }
}

@keyframes db {
    0%{
        width: 0;
    }100%{
        width: 55%;
    }
}