.info {
    background-color: #212B36;
    padding: 8em;
    margin: 10em 0 0;
}

.div_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.div_info img {
    margin-right: 3.5em; 
    cursor: pointer;
    transition: 0.5s;
}

.div_info img:hover{
    transform: scale(1.1); 
}

.div_info h2,h3,h4{
    color: #FFF;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.git, .linkedin{
    margin: 0 0 0 1em ;
}

.zap{
    margin: 0 0 0 0.3em ;
}

.email{
    margin: 0 0 0 1.3em ;
}

.info h1 {
    text-align: cente;
    color: #FFF;
    font-family: var(--font);
    font-size: 25px;
    font-style: normal;
    margin: 0 0 2em 5em ;
    font-weight: 600;
    line-height: normal;
}


.img_contato{
    margin: 1.2em 0 0 ;
}


.p-info{
  font-size: 14px;
  font-family: var(--font);
  color: var(--white);
  font-style: normal;
  font-weight: 600; 
  line-height:initial;
}

