/*Smarth phone-Small*/
@media (min-width: 320px) and (max-width: 480px ) {
  /*navbar*/
  .menu{
    display: block;
    font-size: 20px;
  }

  .ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

    .navbar{
      padding: 0.7em ;
    }

    .li {
     display: none;
    }

    .navigation{
      display: block;
      justify-content: center;
    }
   
    .select-language {
      font-size:11px;
      border-radius: 10px;
     
    }

    .liTwo{
      display: block;
      color: var(--white);
      margin: 1em;
      text-decoration: none;
      font-family: var(--font);
    }

    /*Card Home*/
    .div_init h1{
      font-size: 17px;
      text-wrap: nowrap;
      color: white;
      
    }
    
    .perfil{
      width: 12em;
    }

    .img-home{
        width: 4em;
    }
    
    .div_init h2 {
      text-wrap: nowrap;
      font-size: 20px;
      color: var(--blueHome);
    }
    

    .section_home{
      background-color: var(--DivOn);
      background-image: url("/svg/wallpaper.svg");
      padding: 7em ;
  }


    /*History*/
    .section-history {
      margin: 6em 0;
      padding: 1em;
      flex-direction: column;
    }
  
   .h-history{
    text-align: center;
    font-size: 20px;
   }
 
   .div-history{
    width: 85%;
  }

  .p-history{
    font-size: 15px;
  }

  /* skills */
  .skills{
    width: 60%;
    padding: 2em;
    z-index: 1;
  }

  .h_skills{
    font-size: 18px;
  }
  

  .skills .b{
    background-color: rgb(255, 255, 255);
    display: block;
    height: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.b > span{
    height: 20px;
    background-color: #348A9E;
    position: absolute;
}

.skills p {
  font-size: 14px;
}


.h3{
  display: block;
  font-size: 14px;
}


    /*--Card Service*/
    .section-service h2{
      font-size: 20px;
    }

    #service-id{
      margin-bottom: 9em;
    }

    .cards_cntD{
      display: flex;
      gap: 3em;
      flex-direction: column;
    
    }

    .card_design {
      width: 82%;
      height: 6em;
      gap: 0;
      display: flex;
      align-items: center;
    }
    
    .div-image {
      margin-right: 0.3em;
    }
    
   
    .img-design {
      width: 2.8em;
    }
    
    .img-office {
      width: 2.2em;
    }
  
    .h_design {
      font-size: 15px;
      text-align: center;
      margin-bottom: 1em;
    }
    
    .p_d {
      font-size: 13px;
      text-align: center; 
    }

  
  
    /*---Card Projetos---*/
    .h_project{
     font-size: 20px;
    }
    .card_med{
      padding: 1.8em;
      width: 150%;
      height: 20em;
    }
  
    .cards_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .p_med{
    margin: 1em;
    font-size: 13px;
}

.h_med{
    text-align: center;
    font-size: 16px;
    margin-bottom: 1.4em;
}



  .div-imagem{
      margin: 0.8em;
      display: flex;
      justify-content: center;
  }

  .btn_med{
    display: flex;
    padding: 1em;
  }

#project{
  margin-bottom: 3em;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.img-proj{
  width: 25%;
}

/*Contato*/
.info {
  padding: 4em;
}

.div_info {
flex-wrap: nowrap;

}

.div_info img {
  margin-left: 0;
  width: 82%;
  margin-right: 10px;
  cursor: pointer;
}

.div_info h2,h3,h4{
display: none;
}

.info h1 {
  color: #FFF;
  margin-left: 0;
  text-align: center;
  font-family: var(--font);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.img_contato{
  margin: 1em 1.5em  ;
}

.p-info{
font-size: 12px;
font-family: var(--font);
color: var(--white);
font-style: normal;
font-weight: 600; 
line-height:initial;
}

#tooltip{
font-size: 14px;
}

/* Footer */

.a-info{
  font-size: 12px;
}

.footer{
padding: 0.1em 0;
}

.h_footer{
color: #FFF;
font-family: var(--font);
font-size: 11px;
margin: 0.8em;
font-style: normal;
font-weight: 400;
line-height: normal;
}
}

/*Smarth phone-Medium*/
@media (min-width: 481px ) and (max-width: 767px) {
   
  /*navbar*/
    .menu{
      display: block;
      font-size: 20px;
 
    }

    .ul {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }


      .navbar{
        padding: 0.8em ;
      }

      .li {
        display: none;
      }

  


/* Estilos para o menu de navegação */

     
      .select-language {
        font-size:11px;
        border-radius: 10px;
       
      }

      .navigation{
        display: block;
        display: flex;
        justify-content: center;
      }

      .liTwo{
        display: block;
        color: var(--white);
        margin: 1.3em;
        font-weight: 600;
        text-decoration: none;
        font-family: var(--font);
        transition: 0.3s;
      }

      .liTwo:hover{
        transition: 0.3s;
       color: #3894a492;
      }

      /*Card Home*/
      .div_init h1{
        font-size: 17px;
        text-wrap: nowrap;
        color: white;
        
      }
      
      .perfil{
        width: 12em;
      }
  
      .img-home{
          width: 4em;
      }
      
      .div_init h2 {
        text-wrap: nowrap;
        font-size: 20px;
        color: var(--blueHome);
      }
      
  
      .section_home{
        background-color: var(--DivOn);
        background-image: url("/svg/wallpaper.svg");
        padding: 7em ;
    }
  


       /*History*/
    .section-history {
      margin: 6em 0;
      padding: 1em;
      flex-direction: column;
    }
  
   .h-history{
    text-align: center;
    font-size: 20px;
   }
 
   .div-history{
    width: 85%;
  }

  .p-history{
    font-size: 15px;
  }

  /* skills */
  .skills{
    width: 50%;
    padding: 2em;
    z-index: 1;
  }

  .h_skills{
    font-size: 18px;
  }
  

  .skills .b{
    background-color: rgb(255, 255, 255);
    display: block;
    height: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.b > span{
    height: 20px;
    background-color: #348A9E;
    position: absolute;
}

.skills p {
  font-size: 14px;
}


.h3{
  display: block;
  font-size: 14px;
}


    /*--Card Service*/
    .card_design{
      padding: 1em;
      width: 58%;
      height: 13em;
    }


    #service-id{
      margin-bottom: 9em;
    }

  
    .cards_cntD{
      display: flex;
      gap: 4em;
      flex-direction: column;
      align-items: center;
    }

    .h_design{
      font-size: 14px;
      margin-bottom: 0.3em;
    }

    .section-service h2{
      font-size:18px;
      text-shadow: none;
      margin-bottom: 3em;
    }

    .p_d{
      font-size: 13px;
    }

      /*Card Projetos*/
      .card_med{
        padding: 1.2em;
        width: 100%;
        height: 21em;
      }
    
      .cards_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .p_med{
      margin: 1.2em;
      font-size: 14px;
  
  }
  
  .h_med{
      text-align: center;
      margin-bottom: 1.4em;
  }
  
  .div-imagem{
      margin: 0.8em;
      display: flex;
      justify-content: center;
  }
  
  .btn_med{
     display: flex;
     padding: 1em;
  }

  #project{
    margin-bottom: 3em;
    font-size: 17px;

  }

  .img-proj{
    width: 30%;
  }

  /*Contato*/
  .info {
    padding: 4em;
}

.div_info {
  flex-wrap: nowrap;
 
}

.div_info img {
    margin-left: 0;
    width: 82%;
     margin-right: 10px;
    cursor: pointer;
}

.div_info h2,h3,h4{
  display: none;
}

.info h1 {
    color: #FFF;
    margin-left: 0;
    text-align: center;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.img_contato{
    margin: 1em 1.5em  ;
}

.p-info{
  font-size: 12px;
  font-family: var(--font);
  color: var(--white);
  font-style: normal;
  font-weight: 600; 
  line-height:initial;
}

#tooltip{
 font-size: 12px;
}

/* Footer */
.footer{
  padding: 0.1em 0;
}

.h_footer{
  color: #FFF;
  font-family: var(--font);
  font-size: 11px;
  margin: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
}

/*Small tablets*/
@media (min-width: 768px) and (max-width: 991px) {

   /*navbar*/
   .menu{
    display: block;
    font-size: 20px;
  }

 
  .ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

    .navbar{
      padding: 0.8em ;
    }

    .li {
      display: none;
    }

    .list_nav{
      width: 60%;
    }
    .navigation{
      display: block;
      display: flex;
      justify-content: center;
    }
   
    .select-language {
      font-size:13px;
      border-radius: 10px;
  
    }

    .liTwo{
      display: block;
      color: var(--white);
      margin: 1em;
      text-decoration: none;
      font-family: var(--font);
    }


    /*Card Home*/
    .div_init h1{
      font-size: 17px;
      text-wrap: nowrap;
      color: white;
      
    }
    
    .perfil{
      width: 12em;
    }

    .img-home{
        width: 4em;
    }
    
    .div_init h2 {
      text-wrap: nowrap;
      font-size: 20px;
      color: var(--blueHome);
    }
    

    .section_home{
      background-color: var(--DivOn);
      background-image: url("/svg/wallpaper.svg");
      padding: 7em ;
  }


  


  /*History*/
    .section-history {
      margin: 6em 0;
      padding: 1em;
      flex-direction: column;
    }
  
   .h-history{
    text-align: center;
    font-size: 20px;
   }
 
   .div-history{
    width: 70%;
  }

  .p-history{
    font-size: 15px;
  }

  /* skills */
  .skills{
    width: 45%;
    padding: 2em;
    z-index: 1;
  }

  .h_skills{
    font-size: 18px;
  }
  

  .skills .b{
    background-color: rgb(255, 255, 255);
    display: block;
    height: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.b > span{
    height: 20px;
    background-color: #348A9E;
    position: absolute;
}

.skills p {
  font-size: 14px;
}


.h3{
  display: block;
  font-size: 14px;
}


         /*--Card Service*/
         .card_design{
          padding: 1em;
          width: 58%;
          height: 13em;
        }
      
        .cards_cntD{
          display: flex;
          gap: 4em;
          flex-direction: column;
          align-items: center;
        }
    
        .h_design{
          font-size: 14px;
          margin-bottom: 0.3em;
        }
    
        .section-service h2{
          font-size:18px;
          text-shadow: none;
          margin-bottom: 3em;
        }
    
        .p_d{
          font-size: 13px;
        }
    
       

    /*Card Projetos*/
    .card_med{
      padding: 1.2em;
      width: 70%;
      height: 20em;
    }
  
    .cards_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .p_med{
    margin: 1.2em;
    font-size: 14px;

}

.h_med{
    text-align: center;
    margin-bottom: 1.4em;
}

.div-imagem{
    margin: 0.8em;
    display: flex;
    justify-content: center;
}

.btn_med{
   display: flex;
   padding: 1em;
}

#project{
  margin-bottom: 3em;
  font-size: 17px;

}

.img-proj{
  width: 25%;
}

/*Contato*/
.info {
  padding: 4em;
}

.div_info {
flex-wrap: nowrap;

}

.div_info img {
  margin-left: 0;
  width: 82%;
margin-right: 10px;
  cursor: pointer;
}

.div_info h2,h3,h4{
display: none;
}

.info h1 {
  color: #FFF;
  margin-left: 0;
  text-align: center;
  font-family: var(--font);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.img_contato{
  margin: 1em 1.5em  ;
}

.p-info{
font-size: 12px;
font-family: var(--font);
color: var(--white);
font-style: normal;
font-weight: 600; 
line-height:initial;
}

#tooltip{
font-size: 14px;
}


/* Footer */

.footer{
padding: 0.1em 0;
}

.h_footer{
color: #FFF;
font-family: var(--font);
font-size: 11px;
margin: 1em;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
}

/*Large tablets/laptops*/
@media (min-width: 992px) and (max-width: 1199px) {

     /*navbar*/
      .select-language {
        font-size:13px;
        border-radius: 10px;
       
      }
  
      .liTwo{
        display: block;
        color: var(--white);
        margin: 1em;
        text-decoration: none;
        font-family: var(--font);
      }
  
      /*Card Home*/
      .div_init h1{
        font-size: 20px;
        text-wrap: nowrap;
        color: white;
        
      }
      
      .perfil{
        width: 12em;
      }
  
      .img-home{
          width: 4em;
      }
      
      .div_init h2 {
        text-wrap: nowrap;
        font-size: 20px;
        color: var(--blueHome);
      }
      
  
      .section_home{
        background-color: var(--DivOn);
        background-image: url("/svg/wallpaper.svg");
        padding: 8em ;
    }
  
  
  

      /*History*/
    /* .section-history {
      margin: 6em 0;
      padding: 1em;
      flex-direction: column;
    } */
  
   .h-history{
    text-align: center;
    font-size: 20px;
   }
 
   .div-history{
    width: 75%;
  }

  .p-history{
    font-size: 15px;
  }

  /* skills */
  .skills{
    width: 35%;
    padding: 2em;
    z-index: 1;
  }

  .h_skills{
    font-size: 18px;
  }
  

  .skills .b{
    background-color: rgb(255, 255, 255);
    display: block;
    height: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.b > span{
    height: 20px;
    background-color: #348A9E;
    position: absolute;
}

.skills p {
  font-size: 14px;
}


.h3{
  display: block;
  font-size: 14px;
}


      /*Contato*/

      .info h1 {
        font-size: 25px;
        margin: 0 0 3em 0;
    }
    
  
      /*Card Projetos*/
      .card_med{
        padding: 1.2em;
        width: 40%;
        height: 20em;
      }
    
      .cards_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    .p_med{
      margin: 1.2em;
      font-size: 14px;
    }
  
  .h_med{
      text-align: center;
      margin-bottom: 1.4em;
  }
  
  .div-imagem{
      margin: 0.8em;
      display: flex;
      justify-content: center;
  }
  
  .btn_med{
     display: flex;
     padding: 1em;
  }
  
  #project{
    margin-bottom: 3em;
    font-size: 17px;
  }

  /*service*/

.card_design {
  padding: 1.5em;
  width: 24%;
  height: 15em;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--white);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.p_d{
  margin: 1.2em;
  font-size: 17px;
}

.h_design{
  margin-bottom: 1em;
  font-size: 18px;
 
}

.div-image{
  margin: 1.5em;
  display: flex;
  justify-content: center;
}

  .img-proj{
    width: 20%;
  }

  /* Footer */
  .footer{
  padding: 0.1em 0;
  }
  
  .h_footer{
  color: #FFF;
  font-family: var(--font);
  font-size: 11px;
  margin: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
}

/*Desktop*/
@media (min-width: 1200px) and (max-width: 1919px) {

        /*Card Home*/
        .img-logo{
            width:9%;
        }
    
        .card_home {
          border-radius: 10px;
          width: 70%;
          height: 22em;
     
        }
        
        .card_content {
          padding:2em; 
        }
        
        .img-logo {
      
          margin: 1.5em 0.8em 0 0;
       
        }
        
        .section_home{
          height: 25em;
          padding: 10em;
        }
    
        .card_home h1 {
          font-size: 28px;
        }
        
        .card_home p {
          margin: 1em 0 0;
          max-width: 40em; 
          font-size: 16px;
        }

        /*History*/
        .p_h {
     
          font-size: 17px;
        }
    
        /*Card Projetos*/
  
        .card_med{
          padding: 1.2em;
          width: 54%;
          height: 20em;
        }
      
      .p_med{
        margin: 1.2em;
        font-size: 14px;
    
    }
    
    .h_med{
        text-align: center;
        margin-bottom: 1.4em;
    }
    
    .div-imagem{
        margin: 0.8em;
        display: flex;
        justify-content: center;
    }
    
    .btn_med{
       display: flex;
       padding: 1em;
    }
    
    #project{
      margin-bottom: 3em;
      font-size: 23px;
    
    }

    
    /*service*/

    .section-history {
        margin-bottom: 5em;

    }

.card_design{
  width: 21%;
  height: 16em;
}


    
    .img-proj{
      width: 20%;
    }
    
    /*Contato*/

    #tooltip{
    font-size: 14px;
    }

    .info h1 {
      font-size: 25px;
      margin: 0 0 3em 0 ;
  }

    /* Footer */
    .footer{
    padding: 0.1em 0;
    }
    
    .h_footer{
    color: #FFF;
    font-family: var(--font);
    font-size: 14px;
    margin: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

}

/*Large desktop*/
@media (min-width: 1920px) {

  
.div_init h1{
  color: white;
  font-size: 30px;
}

.div_init h2 {
  font-size: 35px;
  color: var(--blueHome);
}

.img-home{
  width: 6em;
}

.perfil{
  width: 18em;
}

  .card_med{
    padding: 1.5em;
    width: 20%;
    height: 22em;
  }


  .section_home{
    padding: 12em ;
}



.h-history{
  font-size: 30px;
  margin-bottom:1em;
}

.p-history{
    font-size: 18px;
}


.div-history{
  width: 60%;
}


  .p_med{
    font-size: 17px;
}


  .info h1 {
    font-size: 25px;
  
}
}