@import url("/src/resp/response.css");

.div_init {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text_container {
  margin-bottom: 20px; /* Espaçamento entre o texto e as imagens */
}

.div_init h1{
  color: white;
}

.div_init h2 {
  font-size: 30px;
  color: var(--blueHome);
}

.img_container {
  display: flex;
  gap: 1em; /* Espaço entre as imagens */
}



.img_container img {
  transition: transform 0.3s ease;
}

.img_container img:hover {
  transform: scale(1.1); /* Aumenta a escala da imagem em 10% */
}
