@import url("/src/resp/response.css");

.card_design {
    padding: 1.5em;
    width: 15%;
    height: 16em;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--white);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_design:hover {
    transform: translateY(-10px); 
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
}


.p_d{
    text-align: center;
    margin: 1.2em;
    font-size: 18px;
    color: #9E9C9C;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h_design{
    text-align: center;
    margin-bottom: 1.4em;
    color: var(--black);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
}

.div-image{
    margin: 1.5em;
    display: flex;
    justify-content: center;
}
