
@import url("/src/resp/response.css");

.navbar{
    background-color:var(--nav);
    padding: 1.4em ;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}



.ul {
    color: var(--white);
    display: flex;
    font-family: var(--font);
    font-size: 16px;
    gap: 2em;
    margin-right: 1em;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    justify-content: end;
 
}

.li{
    color: var(--white);
    text-decoration: none;
    transition: 0.4s;
}

.li:hover{
    transition: 0.4s;
    color:var(--blueT);
    
}

.menu{
    display: none;
}

.navigation{

    display: none;
}

.list_nav{
    background-color: #00000022;
    font-size: 14px;
    border-radius: 20px;
    display: flex;
    margin: 1.2em 5em; 
    align-items: center;
    flex-direction: column;
    justify-content: right;
}  