.navbar{
    background-color: var(--DivThree);
    padding: 1.1em ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}



.ul {
    color: var(--white);
    display: flex;
    font-family: var(--font);
    font-size: 18px;
    gap: 2em;
    margin-right: 1em;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    justify-content: end;
 
}

.li{
    display: block;
    color: var(--white);
    text-decoration: none;
    transition: 0.4s;
}

.li:hover{
    transition: 0.4s;
    color:var(--blue);
    
}
