@import url("/src/resp/response.css");

.footer{
    padding: 0.2em 0;
    background-color: #1F252C;
}

.h_footer{
    color: #FFF;
    font-family: var(--font);
    font-size: 13px;
    margin: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}