.div_qi {
    color: var(--white);
    width: 45%;
    margin: 5em 0 ; 
    border-radius: 14px;
    background-color: var(--CardTwo);
    padding: 4em; 
    box-sizing: border-box; 
}

.p {
    color: #FFFDFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.span_qi{
    color: var(--red);
}

.span_p {
    color: var(--pink);
}
